<div class="preprints">
  <h3>Preprint</h3>
  <div class="preprint-entry">
    <h4>{{ page.preprints.title }}</h4>
    <p><strong>Authors:</strong> 
      <span style="white-space: nowrap;">
        {% assign authors = page.preprints.authors | split: ',' %}
        {% for author in authors %}
          {% if author contains 'Neda Fallah' %}
            <strong>{{ author | strip }}</strong>{% unless forloop.last %}, {% endunless %}
          {% else %}
            {{ author | strip }}{% unless forloop.last %}, {% endunless %}
          {% endif %}
        {% endfor %}
      </span>
    </p>
    <p><strong>Submission Date:</strong> {{ page.preprints.date }}</p>
    <p><strong>Summary:</strong> {{ page.preprints.summary }}</p>
    <p><strong>Primary Subject Area:</strong> {{ page.preprints.primary_subject }}</p>
    <p><strong>Secondary Subject Areas:</strong> {{ page.preprints.secondary_subjects }}</p>
    <p><a href="{{ page.preprints.pdf_url | relative_url }}" class="btn btn-primary" target="_blank">Preprint's PDF</a></p>
  </div>
</div>
